.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: monospace, sans-serif;
  color: white;

}

.imagespostion {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -111;
}

.imagespostion img {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050510;

}

.clock {
  position: relative;
}

.clock::after,
.clock::before {
  content: '';
  position: absolute;
  top: calc(50% - 5rem);
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: -1;
  background: linear-gradient(to right, #159957, #155799);
  clip-path: ellipse(50% 38% at 50% 50%);
  opacity: 50%;
}

.clock::before {
  transform: rotateZ(23deg);
}

.blink {
  animation: blink 1s infinite;
}

.clock h2 {
  padding: 72px;
  font-size: 56px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}